#home {
  background-color: var(--bottom);
  padding: 6rem 3rem 1.3rem 3rem;
  display: flex;
  gap: 1.3rem;
}

.container__home {
  max-width: 80rem;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
}

.container__left {
  height: 100%;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__left h2 {
  font-family: "Poppins", sans-serif;
  color: var(--main-text);
  line-height: 5rem;
  font-weight: bolder;
  font-size: 2rem;
}

.container__left h2 span {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--highlight-color);
  display: inline-block;
  font-size: 5rem;
}

.container__left p {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  margin-bottom: 0.6rem;
}

.nav__home {
  margin-top: 1rem;
}

.nav__home ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: max-content;
  gap: 1.5rem;
}

.nav__home ul li {
  transition: all 0.5s;
}
.nav__home ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 1.2rem;
  text-decoration: none;
  overflow: hidden;
}

.contact__projects {
  display: flex;
  border-radius: 0.6rem;
}
.contact__home {
  position: relative;
  padding: 0.5rem 0;
}

.contact__home a {
  position: relative;
  display: inline-block;
  border: 0.2rem solid var(--highlight-color);
  color: var(--highlight-color);
  font-weight: bold;
  transition: all 0.2s;
  border-radius: 1.3rem;
  z-index: 1;
}

.contact__home a .bg__animation {
  width: 7rem;
  height: 7rem;
}

.contact__home a:hover {
  color: var(--bottom);
}
.contact__home a:hover .bg__animation {
  transform: translate(-50%, -50%) scale(1.2);
}

.projects__home a {
  color: var(--main-text);
  font-weight: 600;
  text-decoration: none;
}
.projects__home a:hover {
  color: var(--main-text);
  text-decoration: underline;
}

.social__home {
  display: flex;
  gap: 1rem;
}

.nav__home ul li a i {
  font-size: 1.5rem;
  color: var(--main-text);
  transition: all 0.3s;
}

.nav__home ul li a i:hover {
  color: var(--highlight-color);
  transform: translateY(-3px);
}

.provision {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
}

.provision .art {
  width: 20rem;
  min-width: 15rem;
  aspect-ratio: 1/1;
  background-image: url("/img/my-avatar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--highlight-color);
  border-radius: 6rem;
}

@media (max-width: 1200px) {
  .container__home {
    gap: 5rem;
  }
  .container__left {
    width: 100%;
  }
  .container__left h2 {
    font-size: 1.5rem;
  }
  .container__left h2 span {
    font-size: 4rem;
    line-height: 3rem;
  }

  .provision {
    min-width: 1rem;
  }
}

@media (max-width: 950px) {
  .provision {
    width: 100%;
    justify-content: center;
  }
  .container__home {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  #home {
    padding: 6rem 1.5rem 1.3rem 1.5rem;
  }

  .container__left {
    width: 100%;
  }

  .container__left h2 {
    font-size: 1.3rem;
  }
  .container__left h2 span {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .nav__home ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .nav__home ul li a {
    display: inline-block;
    font-size: 1rem;
  }
  .nav__home ul li a i {
    font-size: 1.2rem;
  }

  .projects__home a {
    border: 2px solid var(--main-text);
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
  }

  .social__home {
    align-items: center;
    justify-self: center;
    gap: 1rem;
  }

  .social__home a {
    border: 2px solid var(--main-text);
    padding: 0.4rem;
    border-radius: 0.6rem;
  }
}
